Q1: 
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [11]:
n = 0
for i in range(1,5,1):
    if i >= n:
        print("ineuron "*i, end = " ")
        n = n + 1
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

Q2: .......

In [2]:
l = [[1,2,3,4], (2,3,4,5,6,),(3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {"k1":"sudh", "k2":"ineuron", "k3":"kumar", 3:6,7:8}, ["ineuron", "data science"]]

Q3:all list

In [3]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

q4:dict entity

In [4]:
for j in l:
    if type(j) == dict:
        print(j)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

Q5: tuple

In [5]:
for j in l:
    if type(j) == tuple:
        print(j)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6:all numberical data

In [6]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [7]:
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in range(len(i)):
            if type(i[j]) == int:
                print(i[j])
    elif type(i) == set:
        for k in i:
            if type(k) == int:
                print(k)
    elif type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                print(k)
                print(v)
    else:
        pass

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [ ]:
Q7: summation of all numeric data

In [9]:
add_list_tuple = []
add_set = []
add_dict = []
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in range(len(i)):
            if type(i[j]) == int:
                add_list_tuple.append(i[j])
    elif type(i) == set:
        for k in i:
            if type(k) == int:
                add_set.append(k)
    elif type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                add_dict.append(k)
                add_dict.append(v)
    else:
        pass
sum1 = sum(add_list_tuple)
sum2 = sum(add_set)
sum3 = sum(add_dict)
print(sum1+sum2+sum3)

156

In [10]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

Q8: filter out all odd data

In [17]:
odd = []
for i in l:
    if type(i) == list:
        for j in range(len(i)):
            if type(i[j])==int:
                if i[j]%2==0:
                    pass
                else:
                    odd.append(i[j])
odd

[1, 3]

Q9: extract "ineuron" from data

In [19]:
for i in l:
    if type(i)==list or type(i)==tuple:
        for j in range(len(i)):
            if i[j] == "ineuron":
                print(i[j])
            else:
                pass
    if type(i) == dict:
        for k,v in i.items():
            if k == "ineuron":
                print(k)
            if v == "ineuron":
                print(v)

ineuron
ineuron

Q10: number of occurances of all data

In [25]:
l10A = []
l10B = []
l10C = []
l10D = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l10A.append(j)
    if type(i) == dict:
        for k, v in i.items():
            l10B.append(k)
            l10C.append(v)
l10D = l10A+l10B+l10C
for i in set(l10D):
    print(i ,":", l10D.count(i))

ineuron : 2
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k3 : 1
sudh : 1
8 : 1
kumar : 1
k2 : 1
45 : 1
k1 : 1
data science : 1
23 : 1

In [23]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

Q11. number of key in dict element

In [27]:
l11 = []
for i in l:
    if type(i) == dict:
        for k,v in i.items():
            l11.append(k)
print("count of keys in dict is ", len(l11))

count of keys in dict is  5

Q12: filter string data

In [32]:

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) == dict:
        for k, v in i.items():
            if type(k) == str:
                print(k)
            if type(v) == str:
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [ ]:
Q13: all alphanum

In [36]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                print (j, ':', j.isalnum())
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str or type(v) == str:
                print(k, ':', k.isalnum())
                print(v, ':', v.isalnum())

k1 : True
sudh : True
k2 : True
ineuron : True
k3 : True
kumar : True
ineuron : True
data science : False

Q14: Try to find out multiplication of all numeric value in the individual collection inside dataset.

In [49]:
l1=[]
l2=[]
l3=[]
s1 = 1
s2 = 1
l14= []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                s1 = s1*j
        l14.append(s1)
        s1= 1
        
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                s2 = s2*k
                s2 = s2*v
        l14.append(s2)
l14

[24, 720, 2520, 20700, 1008, 1]

In [41]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [ ]:
q15: #Try to unwrape all the values inside collection and create a flat List.

In [43]:


l1=[]
l2=[]
l3=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)
    if type(i) == dict:
        for k,v in i.items():
            l2.append(k)
            l3.append(v)
l4=l1+l2+l3
print(l4)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science', 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8]